body {
    padding: 0;
    box-sizing: border-box;
    background-color: skyblue;
    text-align: center;
}
.topnav {
    width: 100%;
    height: 80px;
    background-color: skyblue;
    box-shadow: 0px 2px 4px gray;
}
ul{width: 100%;height: 80px;float: right;}
ul>li {
    width: 190px;
    height: 80px; 
    list-style: none;
    float: left;
}
li>a {
    display: block;
    color: white;
    line-height: 65px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-decoration: none;}
li>a:hover, li a:focus {
    background: white;
    color: brown;  
}
form {
    box-sizing: border-box;
}
input[type=text],input[type=email],input[type=tel]{
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
select {
  width: 42%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=date]{
    width: 40%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,input[type=email]:focus,input[type=tel]:focus{
  background-color: #ddd;
  outline: none;
}
select:focus, input[type=date]:focus{
    background-color: #ddd;
    outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
